<h2>购物车商品列表</h2>
<div *ngFor="let product of products">
  <h3>{{product.name}}</h3>
  <p>{{product.price | currency}}</p>
  <p>{{product.description}}</p>
</div>

<p>
  <a [routerLink]="['/shipping']">运费</a>
</p>


<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <div>
    <label for="">用户名：</label>
    <input type="text" formControlName="name">
  </div>
  <div>
    <label for="">地址：</label>
    <input type="text" formControlName="address">
  </div>
  <button type="submit">购买</button>
</form>
